body{
  background-image: url("https://wallpapercave.com/wp/7cVRzLj.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Caveat', cursive;
}
.container h1{
  color: white;
  font-size: 60px;
}
.container p{
  color:black;
  font-size: 50px;
}
.button{
  font-size: 40px;
  color: black;
}
.jumbotron{
  opacity: 0.4;
}
.container .jumbotron {
 display:flex;
 justify-content: space-around;
}
.col-md-4{
  display:none;
}
.player #you .row .col-md-4 p {
  font-size: 20px;
  color:black;
}
.player #computer .row .col-md-5 p {
  font-size: 20px;
  color:black;
}
.col-md-5{
  display:none;
}
.player{
  display: flex;
  justify-content:space-around;
}
.player #you p{
  color:white;
  font-size: 40px;
}
.player #computer p{
  color:white;
  font-size: 40px;
}
.container .player #computer .col-md-8 .oll{
  font-size:20px;
}
.container .player #computer.col-md-8 .old{
  font-size: 20px;
}
.container .player #you .col-md-4 .hold{
  font-size:20px;
}
.container .player #you .col-md-4 .roll{
  font-size:20px;
}

.player #you{
  display:none;
}
.player #computer{
  display: none;
}
